{% extends 'home/base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #93c5fd;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Bienvenue à la page d'accueil!{# { controller_name }}! #} ✅</h1>
        <br>
        <hr>

        <ul>
            {% for article in articles %}
                <h2>{{ article.fkCategories}}</h2>
                <h3>{{ article.titre|capitalize }}</h3>
                <td><img src="{{ article.logo }}" height="50px" width="auto" alt="image de l'article"></td>
                <p>{{ article.article }}</p>
                <p>{{ article.date ? article.date|date('d-m-Y') : '' }}</p>
                <a href="{{ path('user_login', {'idArticle': article.id}) }}"> Pour commentaire...</a>
                <br>
                <hr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
