{% extends 'admin/base_admin.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1>Team</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ team.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ team.roles ? team.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ team.password }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ team.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ team.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_team_admin_index') }}">back to list</a>

    <a href="{{ path('app_team_admin_edit', {'id': team.id}) }}">edit</a>

    {{ include('admin/team_admin/_delete_form.html.twig') }}
{% endblock %}
